<?xml version="1.0"?>
<model>
  <name>Thymioid</name>
  <version>1.0</version>
  <sdf>urdf/thymioid.urdf</sdf>
  <author>
    <name>Jerome Guzzi</name>
    <email>jerome@idsia.ch</email>
  </author>
  <description>
    The thymioid robot: thymio base, camera, odroid with ups, and power pack.
  </description>
</model>
