<?xml version="1.0"?>
<launch>

  <arg name="name" default=""/>
  <arg name="pose" default="-x 0 -y 0 -z 0"/>

  <arg name="camera_is_fixed" default="true"/>
  <arg name="camera_pitch" default="0.2618"/>
  <arg name="camera_joint_pitch" default="$(eval arg('camera_pitch') if arg('camera_is_fixed') else 0)"/>

  <arg name="proximity_max_range" default="0.12"/>
  <arg name="proximity_resolution" default="0.005"/>
  <arg name="proximity_fov" default="0.3"/>

  <group unless="$(arg camera_is_fixed)" ns="$(eval arg('name') or '/')">
    <node pkg="thymioid" name="camera_pitch_controller" type="camera_pitch_controller.py" output="screen">
      <param name="pitch" value="$(arg camera_pitch)"/>
    </node>
    <node pkg="thymioid" name="gazebo_camera_pitch_controller" type="gazebo_camera_pitch_controller.py" output="screen">
      <param name="name" value="$(arg name)"/>
    </node>
  </group>

  <include file="$(find thymioid_description)/launch/model.launch">
    <arg name="name" value="$(arg name)"/>
    <arg name="camera_is_fixed" value="$(arg camera_is_fixed)"/>
    <arg name="camera_pitch" value="$(arg camera_joint_pitch)"/>
    <arg name="proximity_max_range" value="$(arg proximity_max_range)"/>
    <arg name="proximity_resolution" value="$(arg proximity_resolution)"/>
    <arg name="proximity_fov" value="$(arg proximity_fov)"/>
  </include>

  <!-- See https://github.com/ros-simulation/gazebo_ros_pkgs/blob/kinetic-devel/gazebo_ros/scripts/spawn_model -->

  <node ns="$(eval arg('name') or '/')" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-package_to_model true -param robot_description -urdf -model $(arg name) $(arg pose)"/>

</launch>
