<?xml version="1.0"?>
<launch>

  <arg name="name" default=""/>
  <arg name="pose" default="-x 0 -y 0 -z 0"/>
  <arg name="left_wheel_friction" default="1"/>
  <arg name="right_wheel_friction" default="1"/>
  <arg name="wheel_kp" default="100000"/>
  <arg name="body_kp" default="175000"/>
  <arg name="camera_is_fixed" default="true"/>
  <arg name="camera_pitch" default="0.2618"/>
  <arg name="camera_joint_pitch" default="$(eval arg('camera_pitch') if arg('camera_is_fixed') else 0)"/>
  <arg name="proximity_max_range" default="0.12"/>
  <arg name="proximity_resolution" default="0.005"/>
  <arg name="proximity_fov" default="0.3"/>
  <arg name="publish_ground_truth" default="false"/>
  <arg name="ground_truth_frame_id" default="/world"/>
  <arg name="ground_truth_frame_rate" default="30.0"/>
  <arg name="odom_max_rate" default="20.0"/>
  <arg name="camera_is_on" default="true"/>

  <group unless="$(arg camera_is_fixed)" ns="$(eval arg('name') or '/')">
    <node pkg="thymioid" name="camera_pitch_controller" type="camera_pitch_controller.py" output="screen">
      <param name="pitch" value="$(arg camera_pitch)"/>
    </node>
    <node pkg="thymioid" name="gazebo_camera_pitch_controller" type="gazebo_camera_pitch_controller.py" output="screen">
      <param name="name" value="$(arg name)"/>
    </node>
  </group>

  <include file="$(find thymioid_description)/launch/model.launch">
    <arg name="name" value="$(arg name)"/>
    <arg name="camera_is_fixed" value="$(arg camera_is_fixed)"/>
    <arg name="camera_pitch" value="$(arg camera_joint_pitch)"/>
    <arg name="proximity_max_range" value="$(arg proximity_max_range)"/>
    <arg name="proximity_resolution" value="$(arg proximity_resolution)"/>
    <arg name="proximity_fov" value="$(arg proximity_fov)"/>
    <arg name="publish_ground_truth" value="$(arg publish_ground_truth)"/>
    <arg name="ground_truth_frame_id" value="$(arg ground_truth_frame_id)"/>
    <arg name="ground_truth_frame_rate" value="$(arg ground_truth_frame_rate)"/>
    <arg name="odom_max_rate" value="$(arg odom_max_rate)"/>
    <arg name="camera_is_on" value="$(arg camera_is_on)"/>
    <arg name="left_wheel_friction" value="$(arg left_wheel_friction)"/>
    <arg name="right_wheel_friction" value="$(arg right_wheel_friction)"/>
    <arg name="wheel_kp" value="$(arg wheel_kp)"/>
    <arg name="body_kp" value="$(arg body_kp)"/>
  </include>

  <!-- See https://github.com/ros-simulation/gazebo_ros_pkgs/blob/kinetic-devel/gazebo_ros/scripts/spawn_model -->

  <node ns="$(eval arg('name') or '/')" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-package_to_model true -param robot_description -urdf -model $(arg name) $(arg pose)"/>

</launch>
