<?xml version="1.0"?>
<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#xacro">

  <xacro:arg name="camera_joint_type" default="fixed"/>
  <xacro:arg name="camera_pitch" default="0"/>

  <xacro:macro name="web_camera" params="camera_joint_type camera_pitch">

    <link name="camera_support_link">
      <inertial>
        <origin xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
      </inertial>
      <!-- <collision> <geometry> <mesh filename="package://thymioid_description/meshes/camera_support.dae" /> </geometry> </collision> -->
      <visual>
        <geometry>
          <mesh filename="package://thymioid_description/meshes/camera_support.dae"/>
        </geometry>
      </visual>
    </link>

    <link name="camera_body_link">
      <inertial>
        <origin xyz="0.008 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="6e-6" ixy="0" ixz="0" iyy="2e-6" iyz="0" izz="5e-6"/>
      </inertial>
      <collision>
        <geometry>
          <mesh filename="package://thymioid_description/meshes/camera.dae"/>
        </geometry>
      </collision>
      <visual>
        <geometry>
          <mesh filename="package://thymioid_description/meshes/camera.dae"/>
        </geometry>
      </visual>
    </link>

    <link name="camera_link"/>
    <link name="camera_optical_link"/>

    <joint name="ups_camera_joint" type="fixed">
      <origin xyz="0.0047 -0.032 0.044" rpy="0 0 0"/>
      <parent link="ups_link"/>
      <child link="camera_support_link"/>
    </joint>

    <joint name="camera_body_support_joint" type="$(arg camera_joint_type)">
      <origin xyz="0.0095 0 -0.0051" rpy="0 $(arg camera_pitch) 0"/>
      <parent link="camera_support_link"/>
      <child link="camera_body_link"/>
      <axis xyz="0 1 0"/>
      <limit lower="-0.35" upper="1.31" effort="1e-9" velocity="1e-9"/>
      <dynamics friction="1e6"/>

    </joint>

    <!-- http://www.ros.org/reps/rep-0103.html -->

    <joint name="camera_frame_joint" type="fixed">
      <origin xyz="0.01 0 0"/>
      <parent link="camera_body_link"/>
      <child link="camera_link"/>
    </joint>

    <joint name="camera_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
      <parent link="camera_link"/>
      <child link="camera_optical_link"/>
    </joint>

    <gazebo reference="camera_link">
      <sensor type="camera" name="head_camera">
        <update_rate>30.0</update_rate>
        <camera name="head_camera">
          <horizontal_fov>0.786</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>20</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>camera</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>camera_optical_link</frameName>
          <hackBaseline>0.0</hackBaseline>
          <distortionK1>-0.003061</distortionK1>
          <distortionK2>0.044691</distortionK2>
          <distortionK3>0.012541</distortionK3>
          <distortionT1>-0.00085</distortionT1>
          <distortionT2>0.0</distortionT2>

          <CxPrime>333.88</CxPrime>
          <Cx>334.87</Cx>
          <Cy>281.10</Cy>


        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
