<?xml version="1.0"?>
<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#xacro">

  <xacro:macro name="web_camera" params="ns='' tf_prefix='' camera_joint_type='fixed' camera_pitch=0">

    <link name="${tf_prefix}camera_support_link">
      <inertial>
        <origin xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
      </inertial>
      <!-- <collision> <geometry> <mesh filename="package://thymioid_description/meshes/camera_support.dae" /> </geometry> </collision> -->
      <visual>
        <geometry>
          <mesh filename="package://thymioid_description/meshes/camera_support.dae"/>
        </geometry>
      </visual>
    </link>

    <link name="${tf_prefix}camera_body_link">
      <inertial>
        <origin xyz="0.008 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="6e-6" ixy="0" ixz="0" iyy="2e-6" iyz="0" izz="5e-6"/>
      </inertial>
      <collision>
        <geometry>
          <mesh filename="package://thymioid_description/meshes/camera.dae"/>
        </geometry>
      </collision>
      <visual>
        <geometry>
          <mesh filename="package://thymioid_description/meshes/camera.dae"/>
        </geometry>
      </visual>
    </link>

    <link name="${tf_prefix}camera_link"/>
    <link name="${tf_prefix}camera_optical_link"/>

    <joint name="${tf_prefix}ups_camera_joint" type="fixed">
      <origin xyz="0.0047 -0.032 0.044" rpy="0 0 0"/>
      <parent link="${tf_prefix}ups_link"/>
      <child link="${tf_prefix}camera_support_link"/>
    </joint>

    <joint name="${tf_prefix}camera_body_support_joint" type="$(arg camera_joint_type)">
      <origin xyz="0.0095 0 -0.0051" rpy="0 $(arg camera_pitch) 0"/>
      <parent link="${tf_prefix}camera_support_link"/>
      <child link="${tf_prefix}camera_body_link"/>
      <axis xyz="0 1 0"/>
      <limit lower="-0.34" upper="1.3" effort="1e-9" velocity="1e-9"/>
      <dynamics friction="1e6"/>

    </joint>

    <!-- http://www.ros.org/reps/rep-0103.html -->

    <joint name="${tf_prefix}camera_frame_joint" type="fixed">
      <origin xyz="0.01 0 0"/>
      <parent link="${tf_prefix}camera_body_link"/>
      <child link="${tf_prefix}camera_link"/>
    </joint>

    <joint name="${tf_prefix}camera_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
      <parent link="${tf_prefix}camera_link"/>
      <child link="${tf_prefix}camera_optical_link"/>
    </joint>

    <gazebo reference="${tf_prefix}camera_link">
      <sensor type="camera" name="head_camera">
        <update_rate>30.0</update_rate>
        <always_on>1</always_on>
        <camera name="head_camera">
          <horizontal_fov>0.786</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>20</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
          <distortion>
             <k1>-0.003061</k1>
             <k2>0.044691</k2>
             <k3>0.012541</k3>
             <p1>-0.000858</p1>
             <p2>0</p2>
           </distortion>
           <!-- <lens>
             <type>stereographic</type>
             <scale_to_hfov>1.0</scale_to_hfov>
             <intrinsic>
               <fx></fx>
               <fx></fx>
               <fx></fx>
             </intrinsic>
           </lens> -->
           <!-- <CxPrime>333.88</CxPrime>
           <Cx>334.87</Cx>
           <Cy>281.10</Cy> -->
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <!-- This makes the plugin segfault [tested on macos] -->
          <!-- <camera_name>camera</camera_name> -->
          <frame_name>${tf_prefix}camera_optical_link</frame_name>
          <hack_baseline>0.0</hack_baseline>
          <namespace>${ns}</namespace>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
