<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find thymio_driver)/models/thymio.urdf.xacro'" />

  <!-->Thymio has no published joints (the wheels position are not published)<-->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
  <include file="$(find thymio_vrep)/launch/base.launch" />		   
</launch>

