<?xml version="1.0"?>
<launch>
	<arg name="name" default="$(optenv HOSTNAME)"/>
	<arg name="marker_size" default="3.6" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />

	<arg name="tf_prefix" value="$(eval arg('name') + '/' if arg('name') else '')"/>

	<arg name="cam_image_topic" default="camera/image_raw" />
	<arg name="cam_info_topic" default="camera/camera_info" />
	<arg name="output_frame" default="$(arg tf_prefix)camera_optical_link" />
	<!-- <arg name="bundle_files" default="$(eval '\n'.join([find('thymioid'))/configuration/bundles/multimarker_{n}.xml.format(n=n) for n in range(20)])"/> -->

  <arg name="bundle_files" default="$(find thymioid)/configuration/bundles/multimarker_0.xml
$(find thymioid)/configuration/bundles/multimarker_1.xml
$(find thymioid)/configuration/bundles/multimarker_2.xml
$(find thymioid)/configuration/bundles/multimarker_3.xml
$(find thymioid)/configuration/bundles/multimarker_4.xml
$(find thymioid)/configuration/bundles/multimarker_5.xml
$(find thymioid)/configuration/bundles/multimarker_6.xml
$(find thymioid)/configuration/bundles/multimarker_7.xml
$(find thymioid)/configuration/bundles/multimarker_8.xml
$(find thymioid)/configuration/bundles/multimarker_9.xml
$(find thymioid)/configuration/bundles/multimarker_10.xml
$(find thymioid)/configuration/bundles/multimarker_11.xml
$(find thymioid)/configuration/bundles/multimarker_12.xml
$(find thymioid)/configuration/bundles/multimarker_13.xml
$(find thymioid)/configuration/bundles/multimarker_14.xml
$(find thymioid)/configuration/bundles/multimarker_15.xml
$(find thymioid)/configuration/bundles/multimarker_16.xml
$(find thymioid)/configuration/bundles/multimarker_17.xml
$(find thymioid)/configuration/bundles/multimarker_18.xml
$(find thymioid)/configuration/bundles/multimarker_19.xml" />


  <node ns="$(eval arg('name') or '/')" name="ar_track_alvar" pkg="ar_track_alvar"
		type="findMarkerBundlesNoKinect" respawn="false" output="screen"
    args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg bundle_files)" />
</launch>
