<launch>
	<node name="ups" type="ups_node.py" pkg="ups"/>                                                               
	<include file="$(find thymio_driver)/launch/base.launch" />  						      
	<node name="ups_ward" type="ups_ward_node.py" pkg="thymioid" output="screen"/>
	<node name="ui_node" type="ui_node.py" pkg="thymioid" output="screen" required="true"/>
</launch>
