<?xml version="1.0"?>
<launch>
  <node name="ups" type="ups_node.py" pkg="ups"/>
  <node name="ups_ward" type="ups_ward_node.py" pkg="thymioid" output="screen"/>
  <include file="$(find thymio_driver)/launch/base.launch" />
  <node name="ui_node" type="ui_node.py" pkg="thymioid" output="screen" required="true"/>
  <include file="$(find thymioid)/launch/camera.launch" />     
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find thymioid)/models/thymioid.urdf.xacro'" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
</launch>
