<?xml version="1.0"?>
<launch>

  <arg name="image_width" default="640"/>
  <arg name="image_height" default="360"/>
  <arg name="framerate" default="30"/>
  <arg name="rectify" default="1"/>

  <node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="$(arg image_width)" />
    <param name="image_height" value="$(arg image_height)" />
    <param name="framerate" value="$(arg framerate)" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera_link" />
    <param name="io_method" value="mmap"/>
    <param name="camera_info_url" type="string" value="package://thymioid/calibration/camera.yaml" />
  </node>
  <group if="$(arg rectify)" ns="camera">
    <node name="rectify" pkg="image_proc" type="image_proc" output="screen"/>
  </group>
</launch>
