<launch>
  <arg name="name" default="$(env HOSTNAME '')"/>
  <arg name="device" default="ser:device=/dev/ttyACM0"/>
  <arg name="port" default="44444"/>
  <arg name="axis_length" default="0.0935"/>
  <arg name="motor_speed_deadband" default="$(env MOTOR_DEADBAND 10)"/>
  <arg name="odom_max_rate" default="$(env ODOM_MAX_RATE 20)"/>
  <push-ros-namespace namespace="$(var name)"/>
  <group>
    <push-ros-namespace namespace="aseba"/>
    <node pkg="asebaros" exec="asebaros" name="asebaros" args="$(var device) -p $(var port)" output="screen" required="true"/>
  </group>
  <node name="thymio" pkg="thymio_driver" exec="thymio_driver" output="screen" required="true">
    <param name="motor_speed_deadband" value="$(var motor_speed_deadband)"/>
    <param name="axis_length" value="$(var axis_length)"/>
    <param name="odom_max_rate" value="$(var odom_max_rate)"/>
  </node>
</launch>
