<?xml version="1.0"?>
<launch>
  <arg name="name" default="$(optenv hostname)"/>
  <arg name="device" default="ser:device=/dev/ttyACM0"/>

  <include file="$(find thymioid_description)/launch/model.launch">
    <arg name="name" value="$(arg name)"/>
  </include>

  <include file="$(find thymio_driver)/launch/base.launch" ns="$(eval arg('name') or '/')">
    <arg name="device" value="$(arg device)"/>
  </include>

</launch>
